html, body {
  height: auto;
  width: 100%;
  color: #101012; }

body {
  margin: 0;
  padding: 0;
  background-color: #dedede;
  font-family: "Roboto", sans-serif; }

.container {
  background-color: #ffffff;
  height: auto;
  width: 80%;
  margin: auto;
  border-radius: .5em; }

a {
  text-decoration: none; }
