html, body {
  height: auto;
  width: 100%;
  color: #101012; }

body {
  margin: 0;
  padding: 0;
  background-color: #dedede;
  font-family: "Roboto", sans-serif; }

.container {
  background-color: #ffffff;
  height: auto;
  width: 80%;
  margin: auto;
  border-radius: .5em; }

.homeContent, .story1, .story2, .story3, .authorProfiles {
  display: flex; }

a {
  text-decoration: none; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.btn {
  background-color: #d0c8bd;
  border: solid 0.2em #a6c3b7; }

.homeNav {
  display: flex;
  width: 100%;
  margin-top: 1em; }
  .homeNav nav {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-around; }
    .homeNav nav a {
      text-decoration: none;
      color: #a6c3b7; }

.homeLogo a {
  display: flex; }
  .homeLogo a h1 {
    color: #a6c3b7;
    align-self: center; }

.hiddenLogo {
  height: 10em;
  width: 10em;
  margin: auto;
  position: absolute;
  top: 3em;
  background-image: url("../techLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: -3; }

.hero {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.devPic1, .techPic2, .techPic3, .androidPic, .forrestPic, .universePic {
  height: 10em;
  width: 10em;
  background-image: url("../heroImages/devPic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em; }

.techPic2 {
  background-image: url("../heroImages/techPic2.jpg"); }

.techPic3 {
  background-image: url("../heroImages/techPic3.jpg"); }

.subscribe {
  margin: .5em 0; }
  .subscribe #subscribe {
    border: solid 0.2em #a6c3b7; }
  .subscribe input[type="submit"] {
    background-color: #a6c3b7; }

.homeContent {
  justify-content: space-between; }

.homeLeft {
  width: 50%;
  margin-bottom: 1em; }

.androidPic, .forrestPic, .universePic {
  margin-left: 3em;
  background-image: url("../story1/technology.jpg"); }

.forrestPic {
  background-image: url("../story2/rainForrest.jpg"); }

.universePic {
  background-image: url("../story3/ourUniverse.jpg"); }

.story1, .story2, .story3 {
  border: solid 0.2em #a6c3b7;
  background-color: #a6c3b7;
  margin-top: 2em;
  border-radius: 1em;
  margin-left: 1em; }

.homeRight {
  width: 40%;
  margin-right: 1em; }

.authorProfiles {
  margin: auto;
  justify-content: space-between; }

.jacob, .melq {
  width: 8em;
  height: 8em;
  background-image: url("../JacobProfile.jpg");
  border-radius: 50%; }

.melq {
  background-image: url("../MelqProfile.png"); }

.advert {
  background-image: repeating-linear-gradient(to top right, #a6c3b7 10%, #ffffff 20%);
  color: #101012; }

@media only screen and (max-width: 600px) {
  .homeNav {
    flex-wrap: wrap; }
    .homeNav nav {
      flex-wrap: wrap;
      font-size: smaller; }
  .homeLogo {
    opacity: 0; }
  .hiddenLogo {
    opacity: 0.9;
    z-index: 3; }
  .homeContent, .story1, .story2, .story3, .authorProfiles {
    flex-direction: column;
    align-items: center; }
  .homeRight, .homeLeft {
    width: 90%; } }
