html, body {
  height: auto;
  width: 100%;
  color: #101012; }

body {
  margin: 0;
  padding: 0;
  background-color: #dedede;
  font-family: "Roboto", sans-serif; }

.container {
  background-color: #ffffff;
  height: auto;
  width: 80%;
  margin: auto;
  border-radius: .5em; }

.homeContent, .story1, .story2, .story3, .authorProfiles {
  display: flex; }

a {
  text-decoration: none; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.homeNav {
  display: flex;
  width: 100%; }
  .homeNav nav {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-around; }
    .homeNav nav a {
      text-decoration: none;
      color: #a6c3b7; }

.homeLogo a {
  display: flex; }
  .homeLogo a h1 {
    color: #a6c3b7;
    align-self: center; }

.hero {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.devPic1, .techPic2, .techPic3, .androidPic, .forrestPic, .universePic {
  height: 10em;
  width: 10em;
  background-image: url("../heroImages/devPic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em; }

.techPic2 {
  background-image: url("../heroImages/techPic2.jpg"); }

.techPic3 {
  background-image: url("../heroImages/techPic3.jpg"); }

.subscribe #subscribe {
  border: solid 0.2em #a6c3b7; }

.subscribe input[type="submit"] {
  background-color: #a6c3b7; }

.homeContent {
  justify-content: space-between; }

.homeLeft {
  width: 40%; }

.androidPic {
  background-image: url("../story1/technology.jpg"); }

.forrestPic {
  background-image: url("../story2/rainForrest.jpg"); }

.universePic {
  background-image: url("../story3/ourUniverse.jpg"); }

.homeRight {
  width: 40%; }

.authorProfiles {
  margin: auto;
  justify-content: space-between; }

.jacob, .melq {
  width: 8em;
  height: 8em;
  background-image: url("../JacobProfile.jpg");
  border-radius: 50%; }

.melq {
  background-image: url("../MelqProfile.png"); }
