$mainColor: #dedede;
$solidColor: #d0c8bd;
$ourWhite: #ffffff;
$greenAccent: #a6c3b7;
$darkAccent: #101012;
$importantBorder: solid .2em $greenAccent;
$robo: 'Roboto', sans-serif;
$mont: 'Montserrat', sans-serif;

html, body {
  height: auto;
  width: 100%;
  color: $darkAccent;
}
body {
  margin: 0;
  padding: 0;
  background-color: $mainColor;
  font-family: $robo;
}
.container {
  background-color: $ourWhite;
  height: auto;
  width: 80%;
  margin: auto;
  border-radius: .5em;
}

%storyStyling {
  display: flex;
}
a {
  text-decoration: none;
}