@import "global";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeNav {
  display: flex;
  width: 100%;

  nav {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: $greenAccent;
    }
  }
}
.homeLogo a{
  display: flex;
  h1 {
    color: $greenAccent;
    align-self: center;
  }
}

.hero {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.devPic1 {
  height: 10em;
  width: 10em;
  background-image: url("../heroImages/devPic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em;
}
.techPic2 {
  @extend .devPic1;
  background-image: url("../heroImages/techPic2.jpg");
}
.techPic3 {
  @extend .devPic1;
  background-image: url("../heroImages/techPic3.jpg");
}

.subscribe {
  #subscribe {
    border: $importantBorder;
  }
  input[type="submit"] {
    background-color: $greenAccent;

  }
}

.homeContent,.story1, .story2, .story3, .authorProfiles {
  @extend %storyStyling;
}
.homeContent {
  justify-content: space-between;
}

.homeLeft {
  width: 40%;
}
.androidPic {
  @extend .devPic1;
  background-image: url("../story1/technology.jpg");
}
.forrestPic {
  @extend .devPic1;
  background-image: url("../story2/rainForrest.jpg");
}
.universePic {
  @extend .devPic1;
  background-image: url("../story3/ourUniverse.jpg");
}

.homeRight {
  width:40%;
}
.authorProfiles {
  margin: auto;
  justify-content: space-between;
}
.jacob {
  width: 8em;
  height: 8em;
  background-image: url("../JacobProfile.jpg");
  border-radius: 50%;
}
.melq {
  @extend .jacob;
  background-image: url("../MelqProfile.png");
}