@import "global";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: $solidColor;
  border: $importantBorder;
}

.homeNav {
  display: flex;
  width: 100%;

  nav {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: $greenAccent;
    }
  }
}
.homeLogo a{
  display: flex;
  h1 {
    color: $greenAccent;
    align-self: center;
  }
}

.hero {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.devPic1 {
  height: 10em;
  width: 10em;
  background-image: url("../heroImages/devPic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em;
}
.techPic2 {
  @extend .devPic1;
  background-image: url("../heroImages/techPic2.jpg");
}
.techPic3 {
  @extend .devPic1;
  background-image: url("../heroImages/techPic3.jpg");
}

.subscribe {
  margin: .5em 0;
  #subscribe {
    border: $importantBorder;
  }
  input[type="submit"] {
    background-color: $greenAccent;

  }
}

.homeContent,.story1, .story2, .story3, .authorProfiles {
  @extend %storyStyling;
}
.homeContent {
  justify-content: space-between;
}

.homeLeft {
  width: 50%;
}
.androidPic {
  @extend .devPic1;
  margin-left: 3em;
  background-image: url("../story1/technology.jpg");
}
.forrestPic {
  @extend .androidPic;
  background-image: url("../story2/rainForrest.jpg");
}
.universePic {
  @extend .androidPic;
  background-image: url("../story3/ourUniverse.jpg");
}
.story1, .story2, .story3 {
  border: $importantBorder;
  background-color: $greenAccent;
  margin-top: 2em;
  border-radius: 1em;
  margin-left: 1em;
}

.homeRight {
  width:40%;
}
.authorProfiles {
  margin: auto;
  justify-content: space-between;
}
.jacob {
  width: 8em;
  height: 8em;
  background-image: url("../JacobProfile.jpg");
  border-radius: 50%;
}
.melq {
  @extend .jacob;
  background-image: url("../MelqProfile.png");
}

.advert {
  background-image: repeating-linear-gradient(to top right, $greenAccent 10%, $ourWhite 20%);
  color: $darkAccent;
}

@media only screen and (max-width: 600px) {
  .homeNav {
    flex-wrap: wrap;
    nav {
      flex-wrap: wrap;
    }
  }
  //ask about how best to resize img tags
  .homeLogo {
    opacity: 0;
  }
  .homeContent, .story1, .story2, .story3, .authorProfiles {
    flex-direction: column;
    align-items: center;
  }
  .homeRight, .homeLeft {
    width: 90%;
  }
}