html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container {
    height: 100%;
}
.top {
    background-color: #6a9bef;
}
nav {
    display: flex;
}
nav a {
    text-decoration: none;
}
div.navLeft img {
    width: 10%;
}
div.profilePicture img {
    width: 10%;
    border-radius: 50%;
}
.profileBottom {
    display: flex;
}
div.profileBottom div {
    margin: .5em;
}
